.left-sidebar{
    height: 100vh;
    background-color:  rgb(40,43,54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
     .naviagtion{
        flex: 1 1 auto;
        
     }
     .info-user{
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        .icon{
           padding-top: 15px;
           font-size: 1.2rem;
           color: rgba(255, 255, 255, 0.596);
           cursor: pointer;
        }
        padding-bottom: 30px;
     }
}