
.input-chat-container{
  position: relative;
  bottom: 0;
    .input-chat{
        padding: 10px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        bottom: 0;
        display: flex;
        .input{
            color: white;
            outline: none;
            border: none;
            width: 100%; 
            background-color: rgba(194, 193, 193, 0.116);
            padding:7px 10px 7px 10px;
            border-radius: 15px; 
            width: 100%;
           caret-color: rgba(255, 255, 255, 0.699);
        }
        
        .icon{
           padding: 7px;
           color: var(--color-icon-and-message);
           cursor: pointer;
           &:hover{
            background-color: var(--color-hover-icon);
            border-radius: 50%; 
           }
        }
       
       
    }
    .emoji-picker-react {
       // position: absolute;
       // top: -350px;
       // right:5px;
       width: 100%;
       background-color: #080420;
     //   box-shadow: 0 5px 10px #9a86f3;
       //  border-color: #9a86f3;
       .emoji-scroll-wrapper::-webkit-scrollbar {
          background-color: #080420;
         width: 5px;
         &-thumb {
          background-color: #9a86f3;
         }
       }
       .emoji-categories {
         button {
           filter: contrast(0);
         }
       }
       .emoji-search {
         background-color: transparent;
         border-color: #9a86f3;
       }
       .emoji-group:before {
          background-color: #080420;
       }
   }
}

